<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<header class="header">
	<h1 class="header__logo">
		<a href="{{ url_for('home') }}" class="header__link">
			Tracker
		</a>
	</h1>
	{% if "add" not in request.endpoint  %}
	<a href="{{ url_for('add_habit') }} " class="header__link">+ Add new</a>
	{% endif %}
</header>
<main  class="main">
	<section class="dates">
		{% for date in date_range(selected_date) %}
			<a
					class="date__link{{ 'dates__link--current'
					if loop.index0 == 3
					else '' }}"
					href="{{ url_for('home', date=date) }}"
			>
				<time class="date" datetime="{{ date }}">
					<span>{{ date.strftime("%a") }}</span>
					<span>{{ date.strftime("%d") }}</span>
				</time>
			</a>
		{% endfor %}
	</section
	{% block content %}
	{% endblock %}
</main>
</body>
</html>
